{{ register_asset_bundle('app/assets/AppAsset') }}
{{ void(this.beginPage()) }}
<html lang='{{ app.language }}'>

<head>
    <title>{{ html.encode(this.title) }}</title>
    <meta charset='{{ app.charset }}'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'> {{ html.csrfMetaTags | raw }}
    <meta name='viewport' content='width=device-width, initial-scale=1'>{{   void(this.head) }}</head>

<body>{{ void(this.beginBody()) }}
<div class='super_container'>