{% extends "themes/Shards/base.twig" %}

{% block head %}
    {% embed 'themes/Shards/repeatable/head.twig' %}
        {% block title %}
            Список материалов для редактирования
        {% endblock %}
    {% endembed %}
{% endblock head %}

{% block right %}
    {% embed 'themes/Shards/repeatable/right.twig' %}
        {% block pageContent %}
            {{ parent() }}

            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <span class="text-uppercase page-subtitle">Список материалов для редактирования</span>
                </div>
            </div>
            <!-- End Page Header -->


            <div class="row">
                <div class="col-lg col-md-6 col-sm-6 mb-4">
                    <div class="stats-small stats-small--1 card card-small">
                        <div class="card-body p-0 d-flex">
                            <div class="form-group root_materials_list" >
                                <label for="exampleFormControlSelect1">Список страниц</label>

                                <select class="form-control" id="pagesList">
                                    <option value="empty"></option>
                                    {%  for material in rootMaterialsList %}
                                        <option value="{{ material.page_type }}_id_{{ material.id }}">{{ material.page_type_name }} id {{ material.id }}</option>
                                    {% endfor %}
                                </select>
                                <button type="button" class="btn btn-primary" id="create_page">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- EDIT PAGE FORM --->
                {%  for material in rootMaterialsList %}

                    <div class="col-lg-10 col-md-12 col-sm-12 mb-4 materialCard" id="{{ material.page_type }}_id_{{ material.id }}" style="display: none">
                        <div class="card card-small">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">Редактируем "{{ material.page_type_name }}"</h6> </div>
                            <div class="card-body pt-0">
                                <form formId="{{ material.page_type }}">
                                    <div class="form-group">
                                        <label for="title">Имя страницы</label>
                                        <input type="text" class="form-control title"  placeholder="Укажите отображаемое имя страницы" value="{{ material.title }}"> </div>
                                    <div class="form-group">
                                        <label for="Keywords">Meta Keywords</label>
                                        <textarea type="text" class="form-control Keywords" placeholder="Укажите теги для Keywords через запятую, максимум 250 знаков" maxlength="250" rows="2">{{ material.keywords }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">Meta Description</label>
                                        <input type="text" class="form-control Description" placeholder="Укажите описание для Description максимум 200 знаков" maxlength="200" value="{{ material.description }}"> </div>
                                    <div class="form-group">
                                        <label for="page_content">Контент страницы</label>
                                        <textarea class="form-control page_content" id="page_content_id_{{ material.id }}" >
                                            <p>{{ material.page_content }}</p>
                                        </textarea>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 bottom_line">
                                            <label class="form-check-label" for="activ">Материал активен?</label>
                                            <label class="switch">
                                                <input type="checkbox" class="isActive"
                                                        {% if material.active == 1 %}
                                                            checked
                                                        {% endif %}
                                                > <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="views">Количество просмотров</label>
                                            <input type="text" class="form-control numViews" value="{{ material.views }}" disabled=""> </div>
                                        <div class="form-group col-md-2">
                                            <label for="comments">Количество комментариев</label>
                                            <input type="text" class="form-control numComments" value="{{ material.comments }}" disabled=""> </div>
                                        <div class="form-group col-md-2">
                                            <label class="form-check-label" for="need_commnets">Нужны коментарии?</label>
                                            <label class="switch">
                                                <input type="checkbox" class="isComments"
                                                        {% if material.need_comments == 1 %}
                                                            checked
                                                        {% endif %}
                                                > <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="form-check-label" for="need_info_line">Нужна инфолиния?</label>
                                            <label class="switch">
                                                <input type="checkbox" class="isInfoLine"
                                                {% if material.need_info_line == 1 %}
                                                    checked
                                                {% endif %}
                                                > <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" id="mat-id" value="{{ material.id }}">

                                    <input type="hidden" id="page_type_name" value="{{ material.page_type_name }}">
                                    <button type="submit" class="btn btn-primary make_edit" >Применить</button>
                                    <button type="submit" class="btn btn-danger make_delete" >Удалить материал</button>
                                </form>


                            </div>
                        </div>
                    </div>
                    <div class = 'editorScriptBlock' id = "{{ material.page_type }}_id_{{ material.id }}">


                    </div>


                {% endfor %}
                <!--- EDIT PAGE FORM --->

                <!--- NEW PAGE FORM --->
                <div class="col-lg-10 col-md-12 col-sm-12 mb-4 materialCard" id="new_page" style="display: none">
                    <div class="card card-small">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Новая страничка</h6> </div>
                        <div class="card-body pt-0">
                            <form formid="main">

                                <div class="form-group">
                                    <label for="new_page_type">Тип страницы</label>
                                    <select class="form-control" id="new_page_type">
                                        {% for page in pagesTypes %}
                                        <option value="{{ page.page_type }}">{{ page.page_type_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="new_page_title">Имя страницы</label>
                                    <input type="text" class="form-control" id="new_page_title" placeholder="Укажите отображаемое имя страницы" value="" required> </div>
                                <div class="form-group">
                                    <label for="new_page_Keywords">Meta Keywords</label>
                                    <textarea type="text" class="form-control" id="new_page_Keywords" placeholder="Укажите теги для Keywords через запятую, максимум 250 знаков" maxlength="250" rows="2"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="new_page_Description">Meta Description</label>
                                    <input type="text" class="form-control" id="new_page_Description" placeholder="Укажите описание для Description максимум 200 знаков" maxlength="200" value=""> </div>
                                <div class="form-group">
                                    <label for="new_page_content">Контент страницы</label>
                                    <textarea class="form-control page_content" id="new_page_content"  required="required" >
                                            <p></p>
                                </textarea>
                                </div>

                        <div class="form-row">
                            <div class="form-group col-md-2 bottom_line">
                                <label class="form-check-label" for="activ">Материал активен?</label>
                                <label class="switch">
                                    <input type="checkbox" id="new_page_activ" checked=""> <span class="slider round"></span>
                                </label>
                            </div>


                            <div class="form-group col-md-2">
                                <label class="form-check-label" for="new_page_need_commnets">Нужны коментарии?</label>
                                <label class="switch">
                                    <input type="checkbox" id="new_page_need_commnets"> <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="form-check-label" for="new_page_need_info_line">Нужна инфолиния?</label>
                                <label class="switch">
                                    <input type="checkbox" id="new_page_need_info_line"> <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="create_new_page">Сохранить</button></form>
                    </div>
                </div>


            <!---NEW PAGE FORM --->
            </div>
        </div>





        {% endblock %}
    {% endembed %}
{% endblock right %}